@model reserva_de_sala_dsm.Models.Usuario

@{
    ViewData["Title"] = "Excluir usuário";
}

<h1>Excluir usuário</h1>

<h3>Tem certeza que deseja excluir este usuário?</h3>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Id:</dt>
        <dd class="col-sm-20">@Model.Id</dd>

        <dt class="col-sm-2">Email:</dt>
        <dd class="col-sm-20">@Model.Email</dd>

        <dt class="col-sm-2">Administrador?</dt>
        <dd class="col-sm-20">@(Model.Administrador ? "Sim" : "Não")</dd>
    </dl>
<form asp-action="Delete" method="post"> <!-- faltou o método post-->
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Excluir</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>
</div>