@Model reserva_de_sala_dsm.Models.Usuario

@{
    ViewData["Title"] = "Detalhes do usuário";
}

<h1>Detalhes do usuário</h1>

<div>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">Id:</dt>
        <dd class="col-sm-20">@Model.Id</dd>
        
        <dt class="col-sm-2">Email:</dt>
        <dd class="col-sm-20">@Model.Email</dd>

        <dt class="col-sm-2">Administrador?</dt>
        <dd class="col-sm-20">@(Model.Administrador ? "Sim": "Não")</dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Editar</a>
    <a asp-action="Index" class="btn btn-secondary">Voltar</a>
</div>
